{
  "icc": false,
  "log-level": "info",
  "iptables": true,
  "userns-remap": "default",
  "live-restore": true,
  "userland-proxy": false,
  "no-new-privileges": true,
  "storage-driver": "overlay2"
}
